{% extends "base.html" %}
{% block css %}
  <style type="text/css" media="screen"> #bigbut {  width : 500px; height: 100px; } </style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right"> 
      <li class="active">
        <a href="{{ url_for('home') }}">Home</a>
      </li>
    </ul>
    <h3 class="text-muted">Trending Instagram Tags!</h3>
  </div>
  <div class="jumbotron">
    <p class="lead">
      {% for i in tags %}
       #{{ i }}
      {% endfor %}
    </p>
    <hr />
    <button id="bigbut" class="btn btn-success btn-large">Copy</button>
  </div>
  <div class="footer">
    <p>&copy; Top Instagram Trending Hash Tags 2013</p>
  </div>
</div>
{% endblock content %}
